// 📌 Responsive Mixin
// 📌 Responsive Mixin using min-width
@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: 0px) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: 576px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $breakpoint == xxl {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

// 📌 Center Flex
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 📌 Truncate Text
@mixin text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
