@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.container {
  width: 100%;
  padding-inline: 1rem;
  margin-inline: auto;
  border: 1px solid red;
  @include respond(sm) {
    max-width: map-get($breakpoints, sm);
  }

  @include respond(md) {
    max-width: map-get($breakpoints, md);
    border: 1px solid rgb(94, 255, 0);
  }

  @include respond(lg) {
    max-width: map-get($breakpoints, lg);
  }

  @include respond(xl) {
    max-width: 1200px; // أو map-get($breakpoints, xl)
  }
}
