@use "../abstracts/mixins" as mixins;

.box {
  height: 200px;
  background-color: orange; // أقل من 576px

  @include mixins.respond(md) {
    background-color: yellow; // من 576px وأعلى
  }

  @include mixins.respond(lg) {
    background-color: green; // من 768px وأعلى
  }

  @include mixins.respond(xl) {
    background-color: blue; // من 992px وأعلى
  }

  @include mixins.respond(xxl) {
    background-color: red; // من 1200px وأعلى
  }
}
